.part-payment-info {
    position: relative;
}

.part-payment-info__row {
    font-size: $font-size-xs;
}

.part-payment-info__price {
    min-width: 35px;
    display: inline-block;
}

.part-payment-info__footer {
    display: flex;
    justify-content: space-between;
    margin-top: $spacing-md;
}

.part-payment-info__link {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: $font-size-xxs;
    font-weight: 500;
}

.part-payment-info__heading {
    text-transform: uppercase;
    font-size: $font-size-xxs;
    margin-bottom: $spacing-xxs;
}
