$product-card-image-height: 200px;

.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 1px solid $color-grey-light;
    border-bottom: 1px solid $color-grey-light;

    // Note: On smaller viewports the product cards shall be aligned without any gutter, therefore we can't handle surrounding borders here but in the context instead.
    @include mq(min, $breakpoint-sm) {
        border: 1px solid $color-grey-light;
    }
}

.product-card__link {
    display: block;
}

.product-card__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $product-card-image-height;
    padding: $spacing-xs;
}

.product-card__image {
    max-width: 100%;
    max-height: 100%;

    @include check-if-ie('ie') {
        flex: 1; // Fix for IE 11 max-width bug
    }
}

.product-card__name {
    padding: $spacing-xs;
    border-top: 1px solid $color-grey-light;
    font-size: var(--font-size-sm);
}

.product-card__footer {
    display: flex;
    align-items: flex-end;
    flex: 1 0 auto; // Make the footer equal height so that prices are displayed in a nice line in listing. IE requires "0 auto" to not screw things up.
    padding: 0 $spacing-xs $spacing-xs;
}

.product-card__tags {
    position: absolute;
    display: flex;
    flex-direction: row;
}

// Variants for positioning tags
.product-card__tags--top-right {
    top: 8px;
    right: 8px;
}

.product-card__tags--top-left {
    top: 8px;
    left: 8px;
}
