<div class="pac-container pac-logo hdpi" style="width: 832px; position: absolute; left: 20px; top: 20px; display: none;">
    <div class="pac-item">
        <span class="pac-icon pac-icon-marker"></span>
        <span class="pac-item-query">
            <span class="pac-matched">Varberg</span>
        </span>
        <span></span>
    </div>
    <div class="pac-item">
        <span class="pac-icon pac-icon-marker"></span>
        <span class="pac-item-query">
            <span class="pac-matched">Varberg</span>sgatan</span>
        <span>Göteborg</span>
    </div>
    <div class="pac-item">
        <span class="pac-icon pac-icon-marker"></span>
        <span class="pac-item-query">
            <span class="pac-matched">Varberg</span>s Stadshotell &amp; Asia Spa</span>
        <span>Kungsgatan, Varberg</span>
    </div>
    <div class="pac-item">
        <span class="pac-icon pac-icon-marker"></span>
        <span class="pac-item-query">
            <span class="pac-matched">Varberg</span>s Kusthotell</span>
        <span>Nils Kreugers väg, Varberg</span>
    </div>
    <div class="pac-item">
        <span class="pac-icon pac-icon-marker"></span>
        <span class="pac-item-query">
            <span class="pac-matched">Varberg</span>
        </span>
        <span>Varberg</span>
    </div>
</div>
