<button data-js="toast" data-toast-type="info" data-toast-message="Toasty.">Click me for info</button>
<button data-js="toast" data-toast-type="success" data-toast-message="Great success!">Click me for success</button>
<button data-js="toast" data-toast-type="error" data-toast-message="It's a trap!">Click me for error</button>