{{#embed '@button' buttonContext}}
    {{#content 'slot-content'}}
        {{render '@icon' ../iconContext merge=true~}}
        {{#if ../text}}
            <span class="button-icon__text">
                {{~../text~}}
            </span>
        {{/if}}
    {{/content}}
{{/embed}}

