{{#> @button modifier=buttonContext.modifier customClasses=buttonContext.customClasses}}
    <div class="filter-option-item__indicator"></div>
    <div class="filter-option-item__text">
        {{name}}
    </div>
{{/@button}}
