<h1>[customer] component library</h1>
<p>This is the component library for [customer]. **Feel free to look around!**</p>

<h2>Component categories</h2>
<p>All components are ordered according to the <a href="http://bradfrost.com/blog/post/atomic-web-design/" target="_blank">Atomic design pattern</a>.</p>

<h2>Documentation</h2>
<p>More in-depth documentation can be found here:</p>
<ul>
    <li><a href="/docs/colors">Colors</a></li>
    <li><a href="/docs/typography">Typography</a></li>
    <li><a href="/docs/scss-variables">All SCSS variables</a></li>
</ul>
