<p><b>Note: </b>When extracting the variables from the scss file, the color hex values are converted to rgb values. Therefore, rgb values listed here might be a hex code in the scss file.</p>
<p>This will hopefully be solved in the future, see <a href="https://github.com/Wipcore/aggressive-koala/issues/150" target="_blank">this issue</a> for more information.</p>
<table>
    <thead>
        <th>Variable name</th>
        <th>Value</th>
    </thead>
    <tbody>
        {{#each (getSassVariables)}}
            {{#if this.isColor}}
                <tr>
                    <td>{{ this.variable }}</td>
                    <td style="display: flex;">
                        <span style="flex: 1;">{{ this.value }}</span>
                        <span style="flex: 1; padding: 0.5rem; margin-left: 1rem; background: {{ this.value }}; border: 1px solid #666;"></span>
                    </td>
                </tr>
            {{/if}}
        {{/each}}
    </tbody>
</table>
