<div style="position: absolute; top: -50%; left: 50%; height: 100vh; width: 100vw;"> <!-- positioning element -->
    <div class="gm-style-iw-t" style="right: 0px; bottom: 11px;">
        <div class="gm-style-iw gm-style-iw-c" style="padding-right: 0px; padding-bottom: 0px; max-width: 654px; max-height: 269px;">
            <div class="gm-style-iw-d" style="overflow: scroll; max-width: 636px; max-height: 251px;">


                <!-- ACTUAL COMPONENT -->
                <div class="map-info-window">
                    <ul class="list list--unstyled map-info-window__list">
                        <li>
                            <h3 class="h-uppercase">Jaktia Ekerö</h3>
                        </li>
                        <li>
                            Ekenleden 10, Kållered, Sverige
                        </li>
                        <li>
                            031-7952980
                        </li>
                        <li>
                            <a class="h-color-red h-underline" href="mailto:kallered@jaktia.se">kallered@jaktia.se</a>
                        </li>
                        <li class="h-padding-top-xxs">
                            <a class="h-color-red h-underline" href="http://ww.google.se">Till butiken</a>
                        </li>
                    </ul>
                </div>
                <!-- / ACTUAL COMPONENT -->

                
            </div>
            <button draggable="false" title="Stäng" aria-label="Stäng" type="button" class="gm-ui-hover-effect" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: absolute; cursor: pointer; user-select: none; top: -6px; right: -6px; width: 30px; height: 30px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23000000%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="pointer-events: none; display: block; width: 14px; height: 14px; margin: 8px;"></button>
        </div>
    </div>
</div>