.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $font-size-xs;
}

.dialog__text {
    font-weight: bold;
    padding: $spacing-xxs 0;
}

// .dialog-buttons {

// }

.dialog-buttons__button {
    &:first-child {
        margin-right: $spacing-md;
    }
}
