.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-med;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparentize($color-black, 0.25);
    padding: $spacing-xxs;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s linear;

    @include mq(min, $breakpoint-md) {
        padding: $spacing-lg;
    }
}

.modal__content {
    position: sticky;
    top: $spacing-xxs;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: $spacing-xxs;
    background: $color-white;
    box-shadow: 0 0 25px $color-black;

    @include mq(min, $breakpoint-md) {
        top: $spacing-md;
        padding: $spacing-md;
    }
}

.modal__close-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: $z-index-low;
    padding-top: $spacing-xxs;
    padding-right: $spacing-xxs;

    @include mq(min, $breakpoint-md) {
        padding-top: $spacing-md;
        padding-right: $spacing-md;
    }
}

.modal--is-visible {
    opacity: 1;
    pointer-events: auto;
}
