<div class="meta-card">
    <h4 class="meta-card__heading">Jakt</h4>
    <p class="meta-card__text">Woodline Dogkeeper Väst är en specialutrustad hundförarväst. Den rena orangea signalfärgen syns tydligt i terrängen. Västen bygger på ett slitstarkt canvasliknande tyg som är laminerat med M-Tec-membran. Västen är något längre än standard och utrustad med separata GPS-hållare på båda sidor, radiofickor och stora frontala bälgfickor. Genomgående ryggficka som öppnas med vertikala dragkedjor ger ytterligare förvaringsplats vid behov,</p>
    <div class="meta-card__tags">
        {{> '@tag' modifier='white' text='Vapen' hoverText='Vapen' isBordered=true}}
        {{> '@tag' modifier='white' text='Optik' hoverText='Optik' isBordered=true}}
        {{> '@tag' modifier='white' text='Tillbehör - Jakt' hoverText='Tillbehör - Jakt' isBordered=true}}
        {{> '@tag' modifier='white' text='Stövlar och kängor' hoverText='Stövlar och kängor' isBordered=true}}
    </div>
</div>