.product-price {
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    white-space: nowrap;
    margin-top: $spacing-xs;
}

.product-price--big {
    font-size: $font-size-lg;
    line-height: $line-height-md;
    letter-spacing: -0.5px;

    .product-price__discounted {
        font-size: $font-size-lg;
        font-weight: 500;
    }

    .product-price__regular--is-not-current {
        font-size: $font-size-sm;
        font-weight: 500;
        color: $color-grey-dark;
    }
}

.product-price__prefix {
    position: absolute;
    top: -$spacing-xs;
    left: 0;
    background: $color-white;
    font-size: var(--font-size-xs);
    font-weight: 400;
    color: $color-brown;
    text-transform: uppercase;
}

.product-price__discounted {
    font-size: $font-size-md;
    color: $color-orange;
}

.product-price__discounted--club {
    color: $color-cyan;
}

.product-price__discounted,
.product-price__regular {
    display: inline-flex;
    align-items: baseline;
    align-self: inherit;
}

.product-price__regular--is-not-current {
    font-size: $font-size-xs;
    font-weight: normal;
}
