$search-article-image-size: 60px;
$search-article-image-small-screen-size: 40px;

.search-article {
    display: flex;
    flex-basis: 0;
    padding: $spacing-xs 0;
    transition: background-color $default-transition;

    &:focus,
    &:active {
        outline: 1px dotted $color-grey;
        text-decoration: none;
    }
}

.search-article__image-container,
.search-article__name-container,
.search-article__details-container {
    display: flex;
}

.search-article__image-container {
    display: block;
    flex: 0 0 auto;
    align-self: center;
    padding: $spacing-xxs / 2;
    border: 1px solid $color-grey-light;
}

.search-article__image {
    @include mq(min, $breakpoint-sm) {
        width: $search-article-image-size;
        height: $search-article-image-size;
    }

    width: $search-article-image-small-screen-size;
    height: $search-article-image-small-screen-size;
}

.search-article__name-container {
    flex-direction: column;
    justify-content: space-between;
    flex: 8;
    overflow: hidden;
    padding-left: $spacing-xs;
}

.search-article__details-container {
    flex: 2;
    padding-left: $spacing-md;
    justify-content: flex-end;

    @include mq(min, $breakpoint-sm) {
        flex: 2;
    }
}

.search-article__details-placement {
    text-align: right;
}
